:root{
    --text-color:#757575;
    --titles-text-color-first: #212121;
    --accent-color: #2196F3;
    --accent-color-text: #FFFFFF;
    --background-color: #2f303a;
    --logo-color: #000000;
    --backing-color: #F5F4FA;

    /* первый цвет фона : #E5E5E5; */
    /* вторичный цвет фона : #F5F4FA; */
    /* цвет фона кнопок портфолио : #F5F4FA; */
    /* цвет основного текста color: #212121; */
    /* вторичный цвет #757575; */
    /* цвет акцент #2196F3; */
}
body {
    font-family: Roboto, sans-serif;
    background-color: var(--accent-color-text);
    color: var(--titles-text-color-first);
}
ul {
    list-style: none;
}
 /* Header*/

.logo-first {
    font-family: Roboto, sans-serif;
    color: var(--accent-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;

}
.logo-second {
    font-family: Roboto, sans-serif;
    color: var(--titles-text-color-first);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    
}

/* site-nav*/
.site-nav .link {
    color: var(--titles-text-color-first);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.site-nav .link .current {
    color: var(--accent-color);
}

/* web studio */
.contact-nav .nav-e-mail {
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contact-nav .nav-e-mail:hover,

/* section */

.section-title {
    color:var(--title-text-color) ;
}
/* features */
.list  {
    color: var(--secondary-color);
    }
/* examples*/
/* profession*/
.subtitle {
    color: var(--secondary-color);
}
/*button*/

.button {
    color: var(--primary-white-color);
    background: var(--accent-color);
}
.button .primary {
    color: var(--primary-text-color);
    background: var(--accent-color);
}