:root{
    --primary-text-color:black;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --secondary-color:#757575;
}
body 
   {background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}
h2.
h3{
    color:var(--title-text-color);
}.list {
    list-style: none;

}
/* цвет основного текста color: #212121;*/
/* вторичный цвет #757575; */
/* цвет акцент #2196F3; */
/* белый #FFFFFF; */
/* цвет футер rgba(255. 255. 255. 0.6);*/


.logo {
    color:var(--primary-text-color);
}
/* hero */
.hero-title{
    color: var(--primary-bg-color);
    ;
}
/* web studio */
.site-nav .link{
    color: var(--accent-color);
}
/* section */

.section-title {
    color:var(--title-text-color) ;
}
/* features */
.list  {
    color: var(--secondary-color);
    }
/* examples*/
/* profession*/
.subtitle {
    color: var(--secondary-color);
}
/*button*/

.button{
    color: var(--primary-text-color);
    background: var(--primary-white-color);
}
.button .primary {
    color: var(--primary-text-color) ;
    background-color: var(--primary-white-color);
}
.a .button .secondary{
    color: var(--accent-color);
    background: var(--primary-white-color);
}